<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD MyBatis Configuration 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- MyBatis 환경설정 -->
    <settings>
        <!-- JDBC 로그 레벨 설정 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!-- 타입 핸들러 설정 (필요시 추가)
    <typeAliases>
        <typeAlias alias="User" type="com.example.domain.User"/>
    </typeAliases>

    -->
    <!-- 매핑 파일 설정
    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
    </mappers>
-->
</configuration>

